
src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
src/generated/resources/data/claims_and_warfares/loot_tables/blocks/beacon_hacker.json
src/generated/resources/data/claims_and_warfares/loot_tables/blocks/beacon_upgrade_explosion_protection.json
src/generated/resources/data/claims_and_warfares/loot_tables/blocks/beacon_upgrade_mob_grief.json
src/generated/resources/data/claims_and_warfares/loot_tables/blocks/beacon_upgrade_size.json
src/generated/resources/data/claims_and_warfares/loot_tables/blocks/claim_beacon.json
